<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102230134446-f6t5iue1bff6hev0s0vuiasug6uhnluh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102230134446-f6t5iue1bff6hev0s0vuiasug6uhnluh</string>
	<key>API_KEY</key>
	<string>AIzaSyAck145qCciswgkRtRB_HQBFu-HcjZQKCY</string>
	<key>GCM_SENDER_ID</key>
	<string>102230134446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.restaurantSwiftUI.sji.SwiftUIRestaurant</string>
	<key>PROJECT_ID</key>
	<string>swiftuirestaurant-4f62b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuirestaurant-4f62b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102230134446:ios:b62202f417c505924c673f</string>
</dict>
</plist>